@font-face {
    font-family: '7segments'; /* Choose a name for the font */
    src: url('7segments.ttf') format('truetype'); /* Path to the .ttf file */
    font-weight: normal; /* Optional: Specify font weight */
    font-style: normal; /* Optional: Specify font style */
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Roboto;
}

body {
    display: flex;
    justify-content: center;
}

#calc-container {
    margin: 20px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}

#calc-bg {
    margin-top: 30px;
    background-color: darkgrey;
    border-radius: 20px;
    border: 10px solid black;
}

.button {
    display: flex;

    font-size: 18px;
    background-color: aliceblue;
    flex: 1 0 calc(25% - 20px);
    justify-content: center;
    align-items: center;
    height: 125px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: default;
    margin: 10px;
}
#display {
    display: flex;
    font-family: '7segments';
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 1060px;
    margin: 10px;
    justify-content: flex-end;
    height: 125px;
    border: 2px solid black;
    border-radius: 5px;
}
#mini-display {
    font-family: '7segments';
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    width: 100%;
    background-color: aquamarine;
    padding-right: 15px;
}
#maxi-display {
    font-family: '7segments';
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    font-size: 48px;
    width: 100%;
    height: 100%;
    background-color: bisque;
}
.number-button {
    background-color: antiquewhite;
}

.op-button {
    background-color: khaki;
}